<div class="series">
    <div class="series-title">Фантазия Гранблю (второй сезон) / Granblue Fantase The Animation Second Season</div>
    <div class="series-info">
        <div class="series-info--watch">Смотрю</div>
        <div class="series-info--banner">
            <div class="series-info--img" style="background-image: url(./assets/banner-series.png)" > </div>
            <div class="series-info--history">хронология просмотра</div>
        </div>
        <div class="series-info--desc">
            <p>Год: <a href="" class="series-info--value">2017</a><br/></p>
            <p>Тип: <a href="" class="series-info--value">ТВ</a><br/></p>
            <p>Кол-во серий: <a href="" class="series-info--value">12 (25 мин.)</a><br/></p>
            <p>Жанр: <a href="" class="series-info--value">комедия, повседневность, школа</a><br/></p>
            <p>Режиссёр: <a href="" class="series-info--value">Ота Масахико</a><br/></p>
            <p>Описание: Лес манит прогуляться и Гран не в силах устоять перед таким соблазном. В поле его зрения попадает некая вещь. Приблизившись к объекту, он видит девушку, лежащую на земле без чувств. Ящер Вирн, приходящийся другом Грану советует ему не рисковать, вот только парень поддается иным порывам души. Очнувшись, девушка называет свое имя. Лурия неимоверно красива и производит соответствующее впечатление на Грана. Ему не терпится взять её под свою защиту. Ему просто неведомо, что внутри девушки сокрыта мощнейшая сила. Это обстоятельство и было основанием для пленения девушки и изучения её таланта.<br/><br/>

                Гран же был обычным деревенским парнем. Он с радостью соглашается сопровождать Лурию. Девушку же собираются преследовать представители империи, намереваясь использовать себе на благо её силы. Опасность приближалась к ней все теснее. Ей мог бы помочь дракон, являвшийся другом, но призвать его не получалось. А вот скитания, к которым пришлось прибегнуть Грану и Лурии, парню пришлись по нраву, ведь он давно тяготел найти своего отца. О своем отце парень практически ничего не знал, за исключением единственного письма. Между Лурией и Граном крепнут чувства и это не просто дружба.
                </p>
        </div>
    </div>
    <div class="series-footer">
        <a href="" class="series-footer--detail">смотреть подробнее</a>
        <a href="" class="series-footer--chosen"></a>
        <a href="" class="series-footer--chosen"></a>
    </div>
</div>