<div class="home-content-filter">
    <div class="home-content-filter--header">Божественный фильтр</div>
    <form action="" >
        <div class="home-content-filter--form">
            <div class="filter-item">
                <label class="filter-label" for="">Тип</label>
                <div class="filter-input">
                    <input type="text" placeholder="Выберете тип">
                </div>
            </div>
            <div class="filter-item">
                <label class="filter-label" for="">Жанр</label>
                <div class="filter-input">
                    <input type="text" placeholder="Выберете жанр">
                </div>
            </div>
            <div class="filter-item">
                <label class="filter-label" for="">Год</label>
                <div class="filter-input">
                    <input type="text" placeholder="Выберете год">
                </div>
            </div>
            <div class="filter-item">
                <label class="filter-label" for="">Количество серий</label>
                <div class="filter-input filter-input-range">
                    <input type="text" class="filter-from" placeholder="От">
                    <input type="text" class="filter-to" placeholder="До">
                </div>
            </div>
            <div class="filter-item">
                <label  class="filter-label" for="">Сортировать по</label>
                <div class="filter-input filter-select">
                    <select name="" id=""></select>
                </div>
            </div>
        </div>
        <button type="submit" class="home-content-filter--submit">Сотворить магию!</button>
    </form>
    
</div>