<div class="home-content-random">
    <div class="home-content-random--header">Случайное аниме</div>
    <div class="home-content-random--form">
        <div class="series-random" style="background: url(./assets/banner-random.png)">
        <div class="series-random--title">Сумашедшие ребята / Chuubyou Gekihatsu Boy [1 из 12+]</div>
        <div class="series-random--star"></div>
        </div>
    </div>
    <div class="home-content-random--update">
        <div class="home-content-random--update--btn"></div>
    </div>
</div>