<div>
    <div class="last-update">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex"><span class="last-update--text">Последние обновления</span> <div class="last-update--btn"> </div></div>
            <div class="last-update--search"> <input type="text" placeholder="Поиск..."></div>
        </div>
    </div>
    <div class="last-series">
        <div class="last-series-cont scrollbar-inner" id="last-series">
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            <div class="item-series" style="background-image:url(./assets/banner-new.png)">
                <div class="item-series--new">Новинка</div>
                <div class="item-series--number">12 серия</div>
            </div>
            
        </div>
    </div>
</div> 