<div class="header home" id="header">
    <div class="container ">
        <div class="menu d-flex" >
            <div class="form-login">
                <form >
                    <div class="form-login-name"><input type="text" name="" id=""></div>
                    <div class="d-flex">
                        <div  >
                            <div> <input type="password" name="" id=""> </div>
                            <div class="d-flex"> <a href="" class="form-login-link">Регистрация</a> <a href="" class="form-login-link">Забыли пароль?</a> </div>
                        </div>
                        <div><button></button> </div>
                    </div>
                </form>
            </div>
            <div><a href="">Главная</a> </div>
            <div><a href="">Онгоинги</a> </div>
            <div class="submenu" >
                <a href=""><span>Тип</span></a>
                <div class="menu-submenu">
                    <a href="">Тв</a>
                    <a href="">Ova</a>
                    <a href="">Полнометражка</a>
                    <a href="">Ona</a>
                    <a href="">Короткометражка</a>
                    <a href="">Тв-спешл</a>
                </div>
            </div>
            <div class="submenu" >
                <a href=""><span>жанр</span></a>
                <div class="menu-submenu">
                    <a href="">Тв</a>
                    <a href="">Ova</a>
                    <a href="">Полнометражка</a>
                    <a href="">Ona</a>
                    <a href="">Короткометражка</a>
                    <a href="">Тв-спешл</a>
                </div>
            </div>
            <div class="submenu" >
                <a href=""><span>Год</span></a>
                <div class="menu-submenu">
                    <a href="">2020 год</a>
                    <a href="">2019 год</a>
                    <a href="">2018 год</a>
                    <a href="">2017 год</a>
                    <a href="">2016 год</a>
                    <a href="">2015 год</a>
                </div>
            </div>
            <div><a href="">Скоро</a> </div>
            <div><a href="">Моб. версия</a> </div>
        </div>
    </div>
    <div class="scroll-down"></div>
</div>